.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.chatGrupal {
    display: flex;
    height: 100%;
}


.listaUsuarios {
    width: 25%;
    background-color: var(--fondo-menu-superior); 
    padding: var(--tamaño-normal);
    border-right: 1px solid var(--borde-input-WhatsApp);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listaUsuarios h2 {
    font-size: var(--tamaño-mediano);
    font-weight: bold;
    color: var(--blanco-WhatsApp); 
    margin-bottom: var(--tamaño-mediano);
    padding-bottom: var(--tamaño-letras-pequeño);
    border-bottom: 1px solid var(--borde-input-WhatsApp);
}

.listaUsuarios ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.listaUsuarios li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: var(--tamaño-letras-pequeño);
    border-bottom: 1px solid var(--borde-input-WhatsApp);
    color: var(--blanco-WhatsApp);
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: relative;
}

.usuarioDatosPrincipales{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaUsuarios li .estadoUsuario {
    font-size: var(--tamaño-pequeño);
    color: var(--borde-input-WhatsApp);
    margin-left: var(--tamaño-grande);  
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.listaUsuarios li:last-child {
    border-bottom: none;
}

.apartadoMensajes {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px; */
}

.mensajes {
    background: url('/fondoWhatsapp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 150px); 
    scrollbar-width: thin; 
    scrollbar-color: var(--borde-input-WhatsApp) transparent;
    flex-grow: 1;

}

.mensajes::-webkit-scrollbar {
    width: 6px;
}

.mensajes::-webkit-scrollbar-thumb {
    background-color: var(--borde-input-WhatsApp);
    border-radius: 3px;
}

.mensajes::-webkit-scrollbar-track {
    background: transparent;
}

.nombreMensaje{
    margin: 0;
    font-weight: bold;
}

.mensajePropio {
    max-width: 40%; 
    min-width: 8%;
    justify-self: flex-end; 
    background-color: var(--verde-WhatsApp);
    color: var(--blanco-WhatsApp);
    text-align: left;
    padding: var(--tamaño-letras-pequeño);
    margin: var(--tamaño-normal);
    border-radius: var(--radius);
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.mensajeOtro {
    max-width: 40%; 
    min-width: 8%;
    justify-self: flex-start; 
    background-color: var(--gris-WhatsApp);
    color: var(--blanco-WhatsApp);
    text-align: left;
    padding: var(--tamaño-letras-pequeño);
    margin: var(--tamaño-normal);
    border-radius: var(--radius);
    word-wrap: break-word; 
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.mensajeDatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--tamaño-normal);
}

.mensajeConectado{
    max-width: 40%; 
    min-width: 8%;
    justify-self: center; 
    background-color: var(--borde-input-WhatsApp);
    color: var(--gris-WhatsApp);
    text-align: center;
    padding: var(--tamaño-letras-pequeño);
    margin: var(--tamaño-normal);
    border-radius: var(--radius);
}

.mensajeOtro .nombreMensaje{
    animation: colorAleatorio 5s infinite; 
}

.inputMensaje {
    display: flex;
    align-items: center;
    padding: var(--tamaño-normal);
    background-color: #ECE5DD; 
    border-top: 1px solid var(--borde-input-WhatsApp);
}

.inputMensaje input {
    flex-grow: 1;
    padding: var(--tamaño-letras-pequeño);
    background-color: var(--blanco-WhatsApp); 
    border: 1px solid var(--borde-input-WhatsApp); 
    border-radius: var(--radius); 
    color: black; 
}

.inputMensaje input::placeholder {
    color: var(--gris-WhatsApp); 
}

.inputMensaje button {
    width: 5%;
    height: 100%;
    border-radius: var(--radius);
    margin-left: var(--tamaño-normal);
    background-color: var(--verde-WhatsApp);
    color: var(--blanco-WhatsApp);
    border: none;
}

.inputMensaje button:hover{
    transform: scale(1.05);
}

.menuSuperior {
    /* height: 9%; */
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-menu-superior);
    color: var(--blanco-WhatsApp);
    padding: var(--tamaño-letras-pequeño) var(--tamaño-normal);
    border-bottom: 1px solid var(--blanco-WhatsApp);
    flex-shrink: 0;
}

.datosMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--tamaño-normal);
}

.detallesMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detallesMenu h2 {
    margin: 0;
    font-size: var(--tamaño-grande);
    font-weight: bold;
    color: var(--blanco-WhatsApp);
    margin-right: var(--tamaño-grande);
}

.botones {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.botones button {
    color: #fff;
    font-size: var(--tamaño-normal);
    margin-left: var(--tamaño-letras-pequeño);
    cursor: pointer;
    padding: var(--tamaño-letras-pequeño);
    transition: all 0.3s ease;
}

.botones button:hover {
    transform: scale(1.1);
}

.mensajeEscribiendo {
    font-style: italic;
    font-size: var(--tamaño-normal);
    color: var(--blanco-WhatsApp);
}

.fa-solid {
    font-size: var(--tamaño-mediano);
    color: var(--blanco-WhatsApp);
}

.btnCall{
    background-color: rgb(73, 73, 73);
    border: none;
    border-radius: var(--radius);
    
}

.btnSearch{
    background: none;
    border: none;
}




.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: var(--tamaño-normal);
    background: linear-gradient(to bottom, var(--verde-azulado), var(--verde-landing));
}

.loginForm{
    width: 50%;
    height: 90%;
    background-color: var(--blanco-WhatsApp);
    border-radius: var(--radius);
    padding: var(--tamaño-normal);
    display: flex;
    flex-direction: column;
}

.login h1 {
    font-size: var(--tamaño-grande);
    color: var(--verde-WhatsApp);
    margin-bottom: var(--tamaño-normal);
    text-align: center;
    font-weight: bold;
}

.loginForm label{
    font-size: var(--tamaño-mediano);
    color: var(--gris-WhatsApp);
    margin-left: var(--tamaño-normal);
}

.loginForm input {
    width: 100%;
    padding: var(--tamaño-letras-pequeño);
    margin: var(--tamaño-normal) 0;
    border-radius: var(--radius);
    border: 1px solid var(--borde-input-WhatsApp);
    background-color: var(--borde-input-WhatsApp);
    font-size: var(--tamaño-normal);
    color: black;
    outline: none;
    box-sizing: border-box;
}

.loginForm input::placeholder {
    color: var(--gris-WhatsApp);
}

.loginForm button {
    width: 100%;
    padding: var(--tamaño-letras-pequeño);
    margin-top: var(--tamaño-normal);
    background-color: var(--verde-WhatsApp);
    border: none;
    border-radius: var(--radius);
    color: var(--blanco-WhatsApp);
    font-size: var(--tamaño-normal);
    cursor: pointer;
    transition: all 0.3s ease;
}

.loginForm button:hover {
    transform: scale(1.03);
}

.imagenesPredefinidas{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--tamaño-mediano);
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.imagenesPredefinidas img {
    width: var(--tamaño-muy-grande);
    height: var(--tamaño-muy-grande);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.avatarSeleccionado {
    border: 3px solid var(--verde-WhatsApp);
    transform: scale(1.1);
}

.imagenAvatarPagina {
    width: var(--tamaño-grande);
    height: var(--tamaño-grande);
    border-radius: 50%;
    margin-right: var(--tamaño-letras-pequeño);
}

.avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.imagenYDescarga {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.imagenCompartida {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.enlaceDescargaImagen {
    margin-top: var(--tamaño-normal);
    font-size: 14px;
    color: var(--blanco-WhatsApp);
    text-decoration: none;
}
  
.enlaceDescargaImagen:hover {
    text-decoration: underline;
}

.archivoCompartido {
    margin-top: var(--tamaño-normal);
    max-width: 100%;
}

.enlaceDescarga {
    display: inline-block;
    padding: var(--tamaño-normal) var(--tamaño-mediano);
    background-color: var(--blanco-WhatsApp);
    border-radius: var(--radius);
    color: var(--gris-WhatsApp);
    text-decoration: none;
}

.enlaceDescarga i {
    margin-right: var(--tamaño-normal);
    color: var(--verde-WhatsApp);
}

.archivoSeleccionado {
    margin-top: var(--tamaño-normal);
    font-size: var(--tamaño-mediano);
    color: var(--verde-landing);
    font-weight: bold;
  }

@keyframes colorAleatorio {
    0% { color: #25d366; }
    25% { color: #128c7e; }
    50% { color: #34b7f1; }
    75% { color: #f7f7f7; }
    100% { color: #25d366; }
}


@media (max-width: 1000px){
    .loginForm{
        width: 90%;
        height: 90%;
    }
    
    .listaUsuarios h2 {
        font-size: var(--tamaño-normal);
    }

    .apartadoMensajes {
        justify-content: flex-start;
        flex-grow: 1;
        height: auto;
    }

    .detallesMenu h2 {
        font-size: var(--tamaño-normal);
    }
    
    .botones button {
        font-size: var(--tamaño-letras-pequeño);
    }

    .fa-solid {
        font-size: var(--tamaño-normal);
    }

    .mensajePropio {
        margin-right: var(--tamaño-mediano);
    }
    
    .mensajeOtro {
        margin-left: var(--tamaño-mediano);
    }
    
    .inputMensaje input {
        width: 85%; 
    }

    .inputMensaje button {
        width: 30%;
        margin-right: var(--tamaño-letras-pequeño);
    }

    .imagenesPredefinidas img {
        width: 3rem;
        height: 3rem;
    }

}